<% container_title = Consent.model_name.human(count: 0) %>
<% content_for :title, container_title %>
<%= render 'mazer_partials/container', title: container_title do %>

  <%= render 'mazer_partials/box/box', title: t('views.mazer.action.index'), buttons: [
        { name: t('views.mazer.new'), url: new_admin_consent_path, new_button: true }
      ] do %>

    <!-- <div class="card-body"> -->
      <!-- INSERT FILTERS HERE -->
    <!-- </div> -->

    <%= render 'mazer_partials/box/body' do %>
      <%= render 'mazer_partials/table/table', paginate_object: @pagy do %>
        <thead>
          <tr>
            <th><%= Consent.human_attribute_name(:version) %></th>
            <th><%= Consent.human_attribute_name(:kind) %></th>
            <th><%= Consent.human_attribute_name(:active) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @consents.each do |consent| %>
            <tr>
              <td><%= consent.version %></td>
              <td><%= consent.translated_kind %></td>
              <td><%= mazer_label_yes_or_no?(consent.active) %></td>
              <td class="text-end">
                <%= render partial: 'mazer_partials/table/buttons', locals: {
                  buttons: [
                    { name: t("views.mazer.show"), url: [:admin, consent] },
                    { name: t("views.mazer.edit"), url: edit_admin_consent_path(consent) },
                    { name: t("views.mazer.destroy"), url: [:admin, consent] }
                  ]
                } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    <% end %>
  <% end %>
<% end %>
