<%= render 'layout_partials/header',
  page_title: Group.model_name.human(count: 1),
  page_subtitle: t('views.edit'),
  buttons: [
    { icon: 'cic-icon-delete', url: group_path(@group), extraClass: 'action delete btn-icon btn-outline-danger', data: { turbo_confirm: t('views.are_you_sure') }, method: :delete }
  ] %>

<%= form_for @group, html: { class:'cic-table' } do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field(:name) %>
  </div>

  <div class="form-buttons center">
    <%= submit_tag "#{t('views.update')} #{Group.model_name.human(count: 1)}", class: 'btn' %>
  </div>
<% end %>

<% @left_buttons = [
    { icon: 'cic-icon-arrow---left-2', url: group_path(@group.id), extraClass: 'btn-icon back-link' }
  ]  %>

