<% if admin_signed_in? %>
  <% admin = current_admin %>
  <% logout_path = destroy_admin_session_path %>
  <% edit_profile_path = edit_admin_registration_path %>
<% elsif user_signed_in? %>
  <% admin = current_user %>
  <% logout_path = destroy_user_session_path %>
  <% edit_profile_path = edit_user_registration_path %>
<% else %>
  <% admin = nil %>
  <% edit_profile_path = nil %>
  <% logout_path = nil %>
<% end %>

<header>
  <nav class="navbar navbar-expand navbar-light navbar-top">
    <div class="container-fluid">
      <%= link_to '#', class: "burger-btn d-block", data: { turbo: false } do %>
        <i class="bi bi-justify fs-3"></i>
      <% end %>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-lg-0">
          <%# <li class="nav-item dropdown me-1">
            <a
              class="nav-link active dropdown-toggle text-gray-600"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-envelope bi-sub fs-4"></i>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownMenuButton"
            >
              <li>
                <h6 class="dropdown-header">Mail</h6>
              </li>
              <li><a class="dropdown-item" href="#">No new mail</a></li>
            </ul>
          </li> %>
        </ul>
        <div class="dropdown">
          <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="user-menu d-flex">
              <div class="user-name text-end me-3">
                <h6 class="mb-0 text-gray-600"><%= admin.email %></h6>
                <%# <p class="mb-0 text-sm text-gray-600">Administrator</p> %>
              </div>
              <%# <div class="user-img d-flex align-items-center">
                <div class="avatar avatar-md">
                  <img src="./assets/compiled/jpg/1.jpg" />
                </div>
              </div> %>
            </div>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="dropdownMenuButton"
            style="min-width: 11rem">
            <li>
              <h6 class="dropdown-header"><%= t("views.mazer.member_since") %> <%= admin.created_at.strftime("%b %y") %></h6>
            </li>
            <% if edit_profile_path.present? %>
              <li>
                <%= link_to edit_profile_path, class: "dropdown-item" do %>
                  <%= t("views.mazer.profile") %>
                <% end %>
              </li>
            <% end %>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <%= link_to logout_path, class: "dropdown-item", data: { 'turbo-method': :delete } do %>
                <i class="icon-mid bi bi-box-arrow-left me-2"></i>
                <%= t("views.authentication.sign_out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
