<% container_title = User.model_name.human(count: 0) %>
<% content_for :title, container_title %>
<%= render 'mazer_partials/container', title: container_title do %>

  <%= render 'mazer_partials/box/box', title: t('views.mazer.action.show') do %>
    <%= render 'mazer_partials/box/body' do %>

      <strong><%= User.human_attribute_name(:email) %></strong>
      <p class="text-muted">
        <%= @user.email %>
      </p>
      <strong><%= Member.human_attribute_name(:name) %></strong>
      <p class="text-muted">
        <%= @user.member.name %>
      </p>

    <% end %>

    <%= render 'mazer_partials/box/footer', links: [
      { name: t("views.mazer.edit"), url: edit_admin_user_path(@user) },
      { name: t("views.mazer.back"), url: admin_users_path }
    ] %>

  <% end %>

<% end %>
