<%= render 'layout_partials/header',
  page_title: Transaction.model_name.human(count: 1),
  page_subtitle: t('views.new') %>

<div>
  <%= form_with model: [@wallet,Transaction.new], local: true, class: 'cic-table' do |f| %>
    <div>
      <%= f.label :kind %><br>
      <%= f.select :kind,
                Transaction.kinds.keys.map { |key| [key.humanize, key] },
                { prompt: "Selecione um tipo de transação" },
                { data: {
                    controller: 'tom-select-basic',
                } } %>
    </div>

    <div>
      <%= f.label :amount_cents %><br>
      <%= f.number_field :amount_cents, min: 0, step: 0.01 %>
    </div>

    <div>
      <%= f.label :executed_at %><br>
      <%= f.date_field :executed_at %>
    </div>

    <div>
      <%= f.label :category_id %><br>
      <%= f.select :category_id,
                  @categories.map { |category| [category.name, category.id] },
                  { prompt: "Selecione uma categoria" },
                  { data: {
                      controller: 'tom-select-basic', tom_select_basic_options_value: { allowEmptyOption: true }
                  } } %>
    </div>

    <div>
      <h6><%= f.label(:tags , "Tags") %></h6>
      <%= f.select :tags, @tags.map { |tag| [tag.name, tag.id] }, {}, multiple: true, data: {
                      controller: 'tom-select-basic', tom_select_basic_options_value: { allowEmptyOption: true, create: true }
                  } %>
    </div>

    <div>
      <%= f.label :payer_id %></br>
      <p class="text--secondary"><%= current_user.member.name %></p>
      <%= f.hidden_field :payer_id, value: current_user.member.id %>
    </div>

    <div>
      <%= f.label :payees %></br>
      <%= f.select :payees, @payees.map { |payee| [payee.name, payee.id] }, {include_hidden: false}, multiple: true, data: {
                      controller: 'tom-select-basic', tom_select_basic_options_value: { allowEmptyOption: true }
                  } %>
    </div>

    <div>
      <%= f.label :description %></br>
      <%= f.text_area(:description) %>
    </div>

    <div class="form-buttons center">
      <%= submit_tag "#{t('views.create')} #{Transaction.model_name.human(count: 1)}", class: 'btn' %>
    </div>
  <% end %>
</div>



<% @left_buttons = [
    { icon: 'cic-icon-arrow---left-2', url: wallet_transactions_path, extraClass: 'btn-icon back-link' },
  ]  %>
