<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || 'CashInCheck' %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% unless Rails.env.production? %>
      <meta name="robots" content="noindex">
    <% end %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <%#
    <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    %>

    <%# -- ICONS -- %>
    <%# Fontawesome %>
    <link href="/vendor/fontawesome/css/all.min.css" rel="stylesheet">
    <%# Unicons %>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", 'data-turbo-track': 'reload', type: 'module' %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'actiontext', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <%#= render partial: 'layout_partials/nav' %>

    <div class="container-medium grow--1">
      <%= yield %>
    </div>

    <div class="bottom-navigation-container">
      <%= render 'layout_partials/page_buttons',
          left_buttons: @left_buttons.presence || [],
          right_buttons: @right_buttons.presence || [] %>
      <%= render partial: 'layout_partials/bottom_nav' %>
    </div>

    <% if cookies[:cookies_accepted].blank? %>
      <div id="accept_cookies" class="cookies cookies-disclaimer">
        <p class="cookies_disclaimer_text"><%= t('gdpr.views.cookies_disclaimer.text') %></p>
        <div class="cookies-disclaimer-buttons">
          <%= link_to t('gdpr.views.cookies_disclaimer.learn_more'), consent_path('cookies'), class: "cookies_button btn-secondary btn-small" %>
          <%= link_to t('gdpr.views.cookies_disclaimer.accept'), accept_cookies_consents_path, id: 'accept_cookies_button', data: { turbo_stream: true }, class: " cookies_button btn-primary btn-small" %>
        </div>
      </div>
    <% end %>

    <%= render partial: 'layout_partials/toasts/toast' %>
  </body>
</html>
